<% @posts.each do  |post| %>
	<div class="genie-box .col-xs-6 col-xs-offset-6 col-sm-3 col-sm-offset-3 text center">
		<h1>
		<%= post.title %>
		<h1>

			<% image_tag post.image %>


		Description: <%= post.description %>


	</div>
<% end %> 

